{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>WAREFLOW</title>

		<!-- Meta -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- FontAwesome JS-->
		<script defer src="{% static 'assets/plugins/fontawesome/js/all.min.js' %}"></script>

		<!-- App CSS -->
		<link id="theme-style" rel="stylesheet"
			href="{% static 'assets/css/portal.css' %}">

		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
	
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	
		<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
	
		<link rel="stylesheet" href="{% static 'static2/css/open-iconic-bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'static2/css/animate.css' %}">
		
		<link rel="stylesheet" href="{% static 'static2/css/owl.carousel.min.css' %}">
		<link rel="stylesheet" href="{% static 'static2/css/owl.theme.default.min.css' %}">
		<link rel="stylesheet" href="{% static 'static2/css/magnific-popup.css' %}">
	
		<link rel="stylesheet" href="{% static 'static2/css/aos.css' %}">
	
		<link rel="stylesheet" href="{% static 'static2/css/ionicons.min.css' %}">
	
		<link rel="stylesheet" href="{% static 'static2/css/bootstrap-datepicker.css' %}">
		<link rel="stylesheet" href="css/jquery.timepicker.css">
	
		
		<link rel="stylesheet" href="{% static 'static2/css/flaticon.css' %}">
		<link rel="stylesheet" href="{% static 'static2/css/icomoon.css' %}">
		<link rel="stylesheet" href="{% static 'static2/css/style.css' %}">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

	</head>

	<style>
		.product {
			width: 100%;
			height: auto;
			border: 1px solid #ccc;
			margin-bottom: 20px;
			position: relative;
		}
	
		/* Style for the product image container */
		.img-container {
			position: relative;
			width: 100%;
			padding-bottom: 100%;
			overflow: hidden;
		}
	
		/* Style for the product image */
		.img-container img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	
		/* Style for the status overlay */
		.status {
			position: absolute;
			top: 10px;
			right: 10px;
			background-color: green;
			color: white;
			padding: 5px 10px;
			border-radius: 5px;
		}
	
		.out-of-stock {
		  opacity: 0.6; /* Reduce opacity for a faded look */
		  pointer-events: none; /* Disable pointer events for this element */
	  }
	  .table {
		width: 100%; /* Set the table width to 100% of its container */
	  }
	
	  .text-center {
		text-align: center; /* Center-align text within table cells */
	  }
	
	  .product-thumbnail img {
		max-width: 100px; /* Limit the width of product thumbnail images */
		height: auto; /* Automatically adjust the height to maintain aspect ratio */
	  }
	
	  .product-name h3 {
		font-size: 1.2rem; /* Adjust font size for product names */
	  }
	  .btn-update-quantity {
		background-color: white; /* Blue background color */
		color: #fff; /* White text color */
		cursor: pointer; /* Show a pointer cursor on hover */
		border-radius: 5px; /* Rounded corners */
	}
	
	/* Style for the "Remove From Cart" button */
	.btn-remove-from-cart {
		background-color: white; /* Red background color */
		color: #fff; /* White text color */
		cursor: pointer; /* Show a pointer cursor on hover */
		border-radius: 5px; /* Rounded corners */
	}
		/* Style for the quantity input field */
		.quantity-input {
		  width: 40px; /* Adjust the width as needed */
		  margin-right: 5px; /* Add spacing between input and button */
	  }
	
	  /* Optional: Align the button and input vertically */
	  .button-container {
		  display: flex;
		  align-items: center;
	  }
		  /* Add your custom CSS styles here */
		  body {
			background-color: #f7f7f7;
			font-family: Arial, sans-serif;
		}
		h2 {
			color: #333;
		}
		table {
			width: 150%;
			border-collapse: collapse;
			margin-top: 20px;
		}
		th, td {
			padding: 10px;
			text-align: center;
		}
		th {
			background-color: #333;
			color: #fff;
		}
		tr:nth-child(even) {
			background-color: #f2f2f2;
		}
		.status-pending {
			color: #FF5733; /* Red for Pending status */
		}
		.status-successful {
			color: #4CAF50; /* Green for Successful status */
		}
		.status-failed {
			color: #FFC300; /* Yellow for Failed status */
		}
		.cart-total {
			text-align: center;
			margin-top: 20px;
		}
		.cart-total h6 {
			color: #333;
		}
		/* Target the container within the .ftco-section.ftco-cart */
	.ftco-section.ftco-cart .container {
		max-width: 1200px; /* Set your desired maximum width */
		margin: 0 auto; /* Center the container */
	}
	#star-rating ul {
	  display: flex;
	  gap: 15px;
	  list-style-type: none;
	  unicode-bidi: bidi-override;
	  direction: rtl;
	}
	
	li {
	  font-size: 50px;
	  cursor: pointer;
	  color: #34495e;
	  transition: all 0.5s ease;
	}
	
	li:hover, li.active {
	  color: #f1c40f;
	  transform: scale(1.2);
	}
	
	li:hover ~ li, li.active ~ li {
	  color: #f1c40f;
	}
	</style>
	<body class="app">
		<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
			<div class="container">
			  <a class="navbar-brand" href="{% url 'index' %}">WAREFLOW</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span> Menu
			  </button>
		  <form class="element1" id="search-form">
			<div class="input-group">
				<input type="text" class="form-control" id="search-input" placeholder="Search for products">
				<div class="input-group-append">
					<span class="input-group-text bg-transparent text-primary">
						<i class="fa fa-search"></i>
					</span>
				</div>
			</div>
		</form>
			  <div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav ml-auto">
				  <li class="nav-item active"><a href="{% url 'customer_index' %}" class="nav-link">Home</a></li>
				  <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="{% url 'shop' %}" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
					<div class="dropdown-menu" aria-labelledby="dropdown04">
			  <a class="dropdown-item" href="{% url 'about' %}">About</a>
					  <a class="dropdown-item" href="#">Contact</a>
					  {% comment %} <a class="dropdown-item" href="{% url 'wishlist' %}">Wishlist</a> {% endcomment %}
					  <a class="dropdown-item" href="#">Blog</a>
	
					  {% comment %} <a class="dropdown-item" href="{% url 'checkout' %}">Checkout</a> {% endcomment %}
					</div>
				  </li>
				  {% comment %} <li class="nav-item"><a href="{% url 'wishlist' %}" class="nav-link">Wishlist</a></li> {% endcomment %}
			<li class="nav-item"><a href="{% url 'shop' %}" id="top" class="nav-link">Shop</a></li>
			{% if user.is_authenticated %}
				  <li class="nav-item cta cta-colored"><a href="{% url 'cart' %}" class="nav-link"><span class="icon-shopping_cart"></span>[{{ request.session.cart_item_count }}]</a></li>
			{% else %}
				  <li class="nav-item cta cta-colored"><a href="{% url 'cart' %}" class="nav-link"><span class="icon-shopping_cart"></span>[0]</a></li>
			{% endif %}
				  <!-- Added Login and Registration buttons -->
				  {% if user.is_authenticated %}
		<div class="navbar-collapse justify-content-end px-0" id="navbarNav">
				<ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
				  <li class="nav-item dropdown">
					<a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown" aria-expanded="false">
					  {% if request.session.profile_picture_url %}
					  <img src="{{ request.session.profile_picture_url }}" alt="" width="35" height="35" class="rounded-circle">
					{% else %}
					  <img src="{% static 'assets/images/user.png' %}" alt="" width="35" height="35" class="rounded-circle">
					{% endif %}
					  </a> 
					<div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
					  <a class="d-flex align-items-center gap-2 dropdown-item">
						<i class="ti ti-user fs-6"></i>
						<h6 class="mb-0 fs-3">{{ user.username }}</h6>
					</a>
					  <div class="message-body">
						<a href="{% url 'profile' %}" class="d-flex align-items-center gap-2 dropdown-item">
							<i class="ti ti-user fs-6"></i>
							<p class="mb-0 fs-3">My Profile</p>
						</a>                    
					  <a href="{% url 'orders' %}" class="d-flex align-items-center gap-2 dropdown-item">
						  <i class="ti ti-user fs-6"></i>
						  <p class="mb-0 fs-3">My Orders</p>
					  </a>
					  <a href="{% url 'cust_loggout' %}" class="d-flex align-items-center gap-2 dropdown-item">
						<i class="ti ti-user fs-6"></i>
						<p class="mb-0 fs-3">Logout</p>
					</a>
					  </div>
					</div>
				  </li>
				</ul>
			  </div>
					{% else %}
					<a href="{% url 'user_login' %}" class="nav-link" style="color:black; margin-top:13px;">Login</a>
					<a href="{% url 'register' %}" class="nav-link" style="color:black;  margin-top:13px;">Register</a>
			{% endif %}
				</ul>
			  </div>
	
			</div>
		  </nav>
		  <div id="search-results"></div>
		  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		  <script>
			  $(document).ready(function () {
				  $('#search-input').keyup(function () {
					  var query = $(this).val();
					  $.ajax({
						  type: 'GET',
						  url: '/live_search/',
						  data: {
							  'query': query
						  },
						  success: function (data) {
							  var results = data.products;
							  var resultsHtml = '';
							  resultsHtml += '<div class="container">';
								resultsHtml += '  <div class="row">';
								resultsHtml += '    <div class="col-12">';
								resultsHtml += '      <div class="product-container" style="display: flex; flex-wrap: wrap; gap: 10px;">';
								
								if (results.length === 0) {
									// If there are no results, insert a default image
									resultsHtml += '        <div class="product-inf" style="flex-basis: calc(33.33% - 20px); text-align: center;">'; // Set width to 33.33% for each product in a row
									resultsHtml += '          <img style="width: 100%;" src="{% static 'img/not-found.svg' %}" alt="Default Image">';
									resultsHtml += '          <h3>No products found</h3>';
									resultsHtml += '        </div>';
								} else {
									for (var i = 0; i < results.length; i++) {
										resultsHtml += '        <div style="flex-basis: calc(33.33% - 20px); display: flex; flex-direction: column; align-items: center; text-align: center; margin-bottom: 20px;">'; // Set width to 33.33% for each product in a row
										resultsHtml += '          <a href="/product/' + results[i].prod_id + '/">';
										resultsHtml += '            <img style="width: 40%;" src="' + results[i].img + '" alt="' + results[i].name + '">';
										resultsHtml += '          </a>';
										resultsHtml += '          <a href="/product/' + results[i].prod_id + '/" class="text-truncate">' + results[i].name + '</a>';
										resultsHtml += '          <span class="text-truncate">' + results[i].price + '</span>';
										resultsHtml += '        </div>';
									}
								}
								
								resultsHtml += '      </div>';
								resultsHtml += '    </div>';
								resultsHtml += '  </div>';
								resultsHtml += '</div>';
								
								
				  if (query) {
					  $('#search-results').html(resultsHtml);
					  $('#search-results').show();
					  $('#hello').hide();
	  
					  
				  } else {
					  $('#search-results').hide();
					  $('#hello').show();
					  
				  }
			  }
					  });
				  });
			  });
	  
		  </script>
<br><br><br><br><br>

    <div class="app-wrapper w-100 vh-100 d-flex justify-content-center align-items-center">
				<div
					class="app-card app-card-account shadow-sm d-flex flex-column align-items-start">

					<div class="app-card-header p-3 border-bottom-0">
						<div class="row align-items-center gx-3">
							<div class="col-auto">
								<div class="app-icon-holder">
									<svg width="1em" height="1em" viewBox="0 0 16 16"
										class="bi bi-person" fill="currentColor"
										xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd"
											d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
									</svg>
								</div><!--//icon-holder-->
							</div><!--//col-->
							<div class="col-auto">
								<h4 class="app-card-title">Profile</h4>
							</div><!--//col-->
						</div><!--//row-->
					</div><!--//app-card-header-->

					<div class="app-card-body px-4 w-100">
						<form method="post" class=" w-100 " action="{% url 'profile' %}"
							enctype="multipart/form-data">
							{% csrf_token %}

							<!-- Profile Photo -->
							<div class="item border-bottom py-3">
								<div class="row justify-content-between align-items-center">
									<div class="col-auto">
										<div class="item-label mb-2"><strong>Photo</strong></div>
										<div class="item-data">
											<img class="profile-image" id="profile-image-preview"
												src="{% if user_profile.profile_picture %}{{ user_profile.profile_picture.url }}{% else %}{% static 'assets/images/user.png' %}{% endif %}"
												alt="Profile Picture">
										</div>
									</div><!--//col-->
									<div class="col text-end">
										<label for="profile-picture" class="btn-sm app-btn-secondary">Change</label>
										<input type="file" id="profile-picture" name="profile_picture"
											style="display: none;" accept="image/*"
											onchange="previewImage(this);">
									</div><!--//col-->
								</div><!--//row-->
							</div><!--//item-->

							<!-- Profile Name -->
							<div class="item border-bottom py-3">
								<div class="row justify-content-between align-items-center">
									<div class="col-auto">
										<div class="item-label"><strong>Name</strong></div>
										<div class="item-data">
											<span class="data-display">{{ user.first_name }} {{ user.last_name }}</span>
											<input type="text" class="data-input form-control" id="nameupdate"
												name="nameupdate" value="{{ user.first_name }} {{ user.last_name }}"
												style="display: none;">
											<!-- Container for validation error -->
											<div class="invalid-feedback" id="name-error"></div>
										</div>
									</div><!--//col-->
									<div class="col text-end">
										<a class="btn-sm app-btn-secondary toggle-edit" href="#">Edit</a>
									</div><!--//col-->
								</div><!--//row-->
							</div><!--//item-->


							<!-- Email -->
							<div class="item border-bottom py-3">
								<div class="row justify-content-between align-items-center">
									<div class="col-auto">
										<div class="item-label"><strong>Email</strong></div>
										<div class="item-data">
											<span class="data-display">{{ user.email }}</span>
											<input type="email" class="data-input form-control" id="mailupdate"
												name="mailupdate" value="{{user.email }}" style="display: none;">
										</div>
									</div><!--//col-->
								</div><!--//row-->
							</div><!--//item-->


							
							<!-- Contact Number -->
							<div class="item border-bottom py-3">
								<div class="row justify-content-between align-items-center">
									<div class="col-auto">
										<div class="item-label"><strong>Contact Number</strong></div>
										<div class="item-data">
											<span class="data-display">{{ user_profile.phone_no }}</span>
											<input type="tel" class="data-input form-control" id="numupdate"
												name="numupdate" value="{{ user_profile.phone_no }}"
												style="display: none;">
											<!-- Container for validation error -->
											<div class="invalid-feedback" id="num-error"></div>
										</div>
									</div><!--//col-->
									<div class="col text-end">
										<a class="btn-sm app-btn-secondary toggle-edit" href="#">Edit</a>
									</div><!--//col-->
								</div><!--//row-->
							</div><!--//item-->


							<div class="item border-bottom py-3">
								<div class="row justify-content-between align-items-center">
									<div class="col-auto">
										<div class="item-label"><strong>Date of Birth</strong></div>
										<div class="item-data">
											<span class="data-display">{{ user_profile.date_of_birth }}</span>
											<input type="date" class="data-input form-control" id="dobupdate"
												name="dobupdate" value="{{ user_profile.date_of_birth }}"
												style="display: none;" max="{{ sixteen_years_ago }}" min="{{ sixtyfive_years_ago }}"
												oninput="validateDateOfBirth();">
											<!-- Container for validation error -->
											<div class="invalid-feedback" id="dob-error"></div>
										</div>
									</div><!--//col-->
									<div class="col text-end">
										<a class="btn-sm app-btn-secondary toggle-edit" href="#">Edit</a>
									</div><!--//col-->
								</div><!--//row-->
							</div><!--//item-->

							<div class="item border-bottom py-3">
								<div class="row justify-content-between align-items-center">
									<div class="col-auto">
										<div class="item-label"><strong>Address Line 1:</strong></div>
										<div class="item-data">
											<span class="data-display">{{ user_profile.addressline1 }}</span>
											<input type="text" class="data-input form-control" id="adrupdate"
												name="adrupdate" value="{{user_profile.addressline1 }}"
												style="display: none;">
											<div class="invalid-feedback" id="adr-error"></div>
										</div>
									</div><!--//col-->
									<div class="col text-end">
										<a class="btn-sm app-btn-secondary toggle-edit" href="#">Edit</a>
									</div><!--//col-->
								</div><!--//row-->
							</div><!--//item-->

							<div class="item border-bottom py-3">
								<div class="row justify-content-between align-items-center">
									<div class="col-auto">
										<div class="item-label"><strong>Address Line 2</strong></div>
										<div class="item-data">
											<span class="data-display">{{user_profile.addressline2 }}</span>
											<input type="text" class="data-input form-control" id="adrlupdate"
												name="adrlupdate" value="{{user_profile.addressline2 }}"
												style="display: none;">
												<div class="invalid-feedback" id="adrl-error"></div>
										</div>
									</div><!--//col-->
									<div class="col text-end">
										<a class="btn-sm app-btn-secondary toggle-edit" href="#">Edit</a>
									</div><!--//col-->
								</div><!--//row-->
							</div><!--//item-->

							<div class="item border-bottom py-3">
								<div class="row justify-content-between align-items-center">
									<div class="col-auto">
										<div class="item-label"><strong>District</strong></div>
										<div class="item-data">
											<span class="data-display">{{user_profile.district }}</span>
											<input type="text" class="data-input form-control" id="distupdate"
												name="distupdate" value="{{user_profile.district }}"
												style="display: none;">
												<div class="invalid-feedback" id="district-error"></div>
										</div>
									</div><!--//col-->
									<div class="col text-end">
										<a class="btn-sm app-btn-secondary toggle-edit" href="#">Edit</a>
									</div><!--//col-->
								</div><!--//row-->
							</div><!--//item-->

							<div class="item border-bottom py-3">
								<div class="row justify-content-between align-items-center">
									<div class="col-auto">
										<div class="item-label"><strong>Pin Code</strong></div>
										<div class="item-data">
											<span class="data-display">{{user_profile.pin_code }}</span>
											<input type="text" class="data-input form-control" id="pinupdate"
												name="pinupdate" value="{{user_profile.pin_code }}"
												style="display: none;">
												<div class="invalid-feedback" id="pin-error"></div>
										</div>
									</div><!--//col-->
									<div class="col text-end">
										<a class="btn-sm app-btn-secondary toggle-edit" href="#">Edit</a>
									</div><!--//col-->
								</div><!--//row-->
							</div><!--//item-->

							<div class="item border-bottom py-3">
								<div class="row justify-content-between align-items-center">
									<div class="col-auto">
										<div class="item-label"><strong>City</strong></div>
										<div class="item-data">
											<span class="data-display">{{user_profile.city }}</span>
											<input type="text" class="data-input form-control" id="cityupdate"
												name="cityupdate" value="{{user_profile.city }}"
												style="display: none;">
												<div class="invalid-feedback" id="city-error"></div>
										</div>
									</div><!--//col-->
									<div class="col text-end">
										<a class="btn-sm app-btn-secondary toggle-edit" href="#">Edit</a>
									</div><!--//col-->
								</div><!--//row-->
							</div><!--//item-->

							<div class="item border-bottom py-3">
								<div class="row justify-content-between align-items-center">
									<div class="col-auto">
										<div class="item-label"><strong>State</strong></div>
										<div class="item-data">
											<span class="data-display">{{user_profile.state }}</span>
											<input type="text" class="data-input form-control" id="stateupdate"
												name="stateupdate" value="{{user_profile.state }}"
												style="display: none;">
												<div class="invalid-feedback" id="state-error"></div>
										</div>
									</div><!--//col-->
									<div class="col text-end">
										<a class="btn-sm app-btn-secondary toggle-edit" href="#">Edit</a>
									</div><!--//col-->
								</div><!--//row-->
							</div><!--//item-->

							<div class="item border-bottom py-3">
								<div class="row justify-content-between align-items-center">
									<div class="col-auto">
										<div class="item-label"><strong>Country</strong></div>
										<div class="item-data">
											<span class="data-display">{{user_profile.country }}</span>
											<input type="text" class="data-input form-control" id="countryupdate"
												name="countryupdate" value="{{user_profile.country }}"
												style="display: none;">
												<div class="invalid-feedback" id="country-error"></div>
										</div>
									</div><!--//col-->
									<div class="col text-end">
										<a class="btn-sm app-btn-secondary toggle-edit" href="#">Edit</a>
									</div><!--//col-->
								</div><!--//row-->
							</div><!--//item-->
							<br>
							<input type="submit" value="Add" class="btn btn-primary">
						</form>
					</div>

				</div><!--//app-card-body-->
			</div><!--//app-card-->
		</div><!--//app-wrapper-->
		<br><br><br><br><br>
<script>
$(document).ready(function() {
    $('.toggle-edit').click(function() {
        var itemData = $(this).closest('.item').find('.item-data');
        itemData.find('.data-display').hide();
        itemData.find('.data-input').show();
        $(this).hide();
        $(this).siblings('.save-edit').show();
        return false; // Prevent the default link behavior
    });

    $('.save-edit').click(function() {
        var itemData = $(this).closest('.item').find('.item-data');
        var newValue = itemData.find('.data-input').val();
        itemData.find('.data-display').text(newValue).show();
        itemData.find('.data-input').hide();
        $(this).hide();
        $(this).siblings('.toggle-edit').show();
        return false; // Prevent the default link behavior
    });


	function previewImage(input) {
		var preview = document.getElementById('profile-image-preview');
		if (input.files && input.files[0]) {
			var reader = new FileReader();
			reader.onload = function (e) {
				preview.src = e.target.result;
			};
			reader.readAsDataURL(input.files[0]);
		}
	}


	//Function to validate the Date of Birth field
	function validateDateOfBirth() {
        var dobField = document.getElementById('dobupdate');
        var dobValue = dobField.value.trim();

        if (dobValue === '') {
            // Display an error message for empty input
            document.getElementById('dob-error').textContent = 'Date of Birth is required';
            dobField.classList.add('is-invalid');
            return false;
        }

        // Check if the date is in valid format (YYYY-MM-DD)
        var datePattern = /^\d{4}-\d{2}-\d{2}$/;

        if (!datePattern.test(dobValue)) {
            // Display an error message for invalid format
            document.getElementById('dob-error').textContent = 'Date of Birth must be in YYYY-MM-DD format';
            dobField.classList.add('is-invalid');
            return false;
        }

        // Calculate age from Date of Birth
        var age = calculateAge(dobValue);

        if (age < 16) {
            // Display an error message for age less than 16
            document.getElementById('dob-error').textContent = 'You must be at least 16 years old';
            dobField.classList.add('is-invalid');
            return false;
        }

        // Check if the date is greater than or equal to 65 years ago
        var minDate = new Date('{{ sixty_five_years_ago }}');
        var selectedDate = new Date(dobValue);

        if (age > 65) {
            // Display an error message for selecting a date older than 65 years ago
            document.getElementById('dob-error').textContent = 'You cannot select a date older than 65 years ago';
            dobField.classList.add('is-invalid');
            return false;
        }

        // Clear the error message
        document.getElementById('dob-error').textContent = '';
        dobField.classList.remove('is-invalid');
        return true;
    }

    // Function to calculate age from a given date
    function calculateAge(dateString) {
        var today = new Date();
        var birthDate = new Date(dateString);
        var age = today.getFullYear() - birthDate.getFullYear();
        var monthDiff = today.getMonth() - birthDate.getMonth();

        if (monthDiff < 0 || (monthDiff === 0 && today.getDate() < birthDate.getDate())) {
            age--;
        }

        return age;
    }

    // Add event listener to the Date of Birth input field
    var dobField = document.getElementById('dobupdate');
    dobField.addEventListener('input', validateDateOfBirth);

	function validateName() {
        var nameField = document.getElementById('nameupdate');
        var nameValue = nameField.value.trim();

        // Regular expression to allow alphabets and spaces
        var namePattern = /^[A-Za-z\s]{3,}$/;

        if (!namePattern.test(nameValue)) {
            // Display an error message for invalid format
            document.getElementById('name-error').textContent = 'Name must contain only alphabets and spaces, with a minimum length of 3 characters';
            nameField.classList.add('is-invalid');
            return false;
        }

        // Clear the error message
        document.getElementById('name-error').textContent = '';
        nameField.classList.remove('is-invalid');
        return true;
    }

    // Add event listener to the Name input field
    var nameField = document.getElementById('nameupdate');
    nameField.addEventListener('input', validateName);


	function validatePin() {
		var pinField = document.getElementById('pinupdate');
		var pinValue = pinField.value.trim();
		var pinPattern = /^[1-9]{1}[0-9]{2}\s{0,1}[0-9]{3}$/;
	
		if (!pinPattern.test(pinValue)) {
			// Display an error message for invalid format
			document.getElementById('pin-error').textContent = 'Invalid PIN code format. Example: 123 456';
			pinField.classList.add('is-invalid');
			return false;
		}
	
		// Clear the error message
		document.getElementById('pin-error').textContent = '';
		pinField.classList.remove('is-invalid');
		return true;
	}
	
	// Attach an event listener to the PIN code input field
	var pinField = document.getElementById('pinupdate');
	pinField.addEventListener('input', validatePin);


	// Define an array of field IDs and corresponding error message IDs
var fieldIds = ['adrupdate','adrlupdate', 'distupdate', 'cityupdate', 'stateupdate', 'countryupdate'];
var errorIds = ['adr-error','adrl-error', 'district-error', 'city-error', 'state-error', 'country-error'];

// Define a common validation function for all fields
function validateField(fieldIndex) {
    var field = document.getElementById(fieldIds[fieldIndex]);
    var fieldValue = field.value.trim();
    var fieldPattern = /^[A-Za-z\s]{3,}$/;

    if (!fieldPattern.test(fieldValue)) {
        // Display an error message for invalid format
        document.getElementById(errorIds[fieldIndex]).textContent = 'Field must contain only alphabets and spaces, with a minimum length of 3 characters';
        field.classList.add('is-invalid');
        return false;
    }

    // Clear the error message
    document.getElementById(errorIds[fieldIndex]).textContent = '';
    field.classList.remove('is-invalid');
    return true;
}

// Attach event listeners for all fields
for (var i = 0; i < fieldIds.length; i++) {
    var field = document.getElementById(fieldIds[i]);
    field.addEventListener('input', validateField.bind(null, i));
}



});
</script>

<!-- Javascript -->
<script src="{% static 'assets/plugins/popper.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

<!-- Page Specific JS -->
<script src="{% static 'assets/js/app.js' %}"></script>

</div>
<div id="hello">

	<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
  <div class="container py-4">
	<div class="row d-flex justify-content-center py-5">
	  <div class="col-md-6">
		  <h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
		  <span>Get e-mail updates about our latest shops and special offers</span>
	  </div>
	  <div class="col-md-6 d-flex align-items-center">
		<form action="#" class="subscribe-form">
		  <div class="form-group d-flex">
			<input type="text" class="form-control" placeholder="Enter email address">
			<input type="submit" value="Subscribe" class="submit px-3">
		  </div>
		</form>
	  </div>
	</div>
  </div>
</section>
<footer class="ftco-footer ftco-section">
  <div class="container">
	  <div class="row">
		  <div class="mouse">
					<a href="#" class="mouse-icon">
						<div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
					</a>
				</div>
	  </div>
	<div class="row mb-5">
	  <div class="col-md">
		<div class="ftco-footer-widget mb-4">
		  <h2 class="ftco-heading-2">WAREFLOW</h2>
		  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
		  <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
			<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
			<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
			<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
		  </ul>
		</div>
	  </div>

	  <div class="alan-btn"></div>

	  <script type="text/javascript"
	  src="https://studio.alan.app/web/lib/alan_lib.min.js"></script>
	  <script>
		var alanBtnInstance = alanBtn({
		  key: "5cd0bde7ee931969e5c99c3db1f81e102e956eca572e1d8b807a3e2338fdd0dc/stage",
		  onCommand: function (commandData) {
			if (commandData.command === "go:back") {
			  //call client code that will react on the received command
			}
		  },
		  rootEl: document.getElementById("alan-btn"),
		});
	  </script>
	  <div class="col-md">
		<div class="ftco-footer-widget mb-4 ml-md-5">
		  <h2 class="ftco-heading-2">Menu</h2>
		  <ul class="list-unstyled">
			<li><a href="#" class="py-2 d-block">Shop</a></li>
			<li><a href="#" class="py-2 d-block">About</a></li>
			<li><a href="#" class="py-2 d-block">Contact Us</a></li>
		  </ul>
		</div>
	  </div>
	  <div class="col-md-4">
		 <div class="ftco-footer-widget mb-4">
		  <h2 class="ftco-heading-2">Help</h2>
		  <div class="d-flex">
			  <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
				<li><a href="#" class="py-2 d-block">Shipping Information</a></li>
				<li><a href="#" class="py-2 d-block">Terms &amp; Conditions</a></li>
				<li><a href="#" class="py-2 d-block">Privacy Policy</a></li>
			  </ul>
			  <ul class="list-unstyled">
				<li><a href="#" class="py-2 d-block">FAQs</a></li>
				<li><a href="#" class="py-2 d-block">Contact</a></li>
			  </ul>
			</div>
		</div>
	  </div>
	  <div class="col-md">
		<div class="ftco-footer-widget mb-4">
			<h2 class="ftco-heading-2">Have a Questions?</h2>
			<div class="block-23 mb-3">
			  <ul>
				<li><span class="icon icon-map-marker"></span><span class="text">Kanjirappilly,Kottayam,Kerela</span></li>
				<li><a href="#"><span class="icon icon-phone"></span><span class="text">+918330859255</span></a></li>
				<li><a href="#"><span class="icon icon-envelope"></span><span class="text">wareflow100@gmail.com</span></a></li>
			  </ul>
			</div>
		</div>
	  </div>
	</div>
  </div>
</footer>

<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


<script src="{% static 'static2/js/jquery.min.js' %}"></script>
<script src="{% static 'static2/js/jquery-migrate-3.0.1.min.js' %}"></script>
<script src="{% static 'static2/js/popper.min.js' %}"></script>
<script src="{% static 'static2/js/bootstrap.min.js' %}"></script>
<script src="{% static 'static2/js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'static2/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'static2/js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'static2/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'static2/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'static2/js/aos.js' %}"></script>
<script src="{% static 'static2/js/jquery.animateNumber.min.js' %}"></script>
<script src="{% static 'static2/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'static2/js/scrollax.min.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&sensor=false"></script>
<script src="{% static 'static2/js/google-map.js' %}"></script>
<script src="{% static 'static2/js/main.js' %}"></script>


</body>
</html>
