{%extends 'base.html'%}
{% load static %}
{%block content%}
    <section id="home-section" class="hero">
		  <div class="home-slider owl-carousel">
	      <div class="slider-item" style="background-image: url({% static 'static2/images/bg_1.jpg' %});">
	      	<div class="overlay"></div>
	        <div class="container">
	          <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

	            <div class="col-md-12 ftco-animate text-center">
	              <h1 class="mb-2">ELECTRONIC GADGETS </h1>
	              {% comment %} <h2 class="subheading mb-4">We deliver original Electronic Gadgets</h2>
	              <p><a href="" class="btn btn-primary">View Details</a></p> {% endcomment %}
	            </div>

	          </div>
	        </div>
	      </div>
	      <div class="slider-item" style="background-image: url({% static 'static2/images/bg_2.jpg' %});">
	      	<div class="overlay"></div>
	        <div class="container">
	          <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

	            <div class="col-sm-12 ftco-animate text-center">
	              <h1 class="mb-2">FASHION</h1>
	              {% comment %} <h2 class="subheading mb-4">We deliver organic Grocery Items</h2>
	              <p><a href="#" class="btn btn-primary">View Details</a></p> {% endcomment %}
	            </div>

	          </div>
	        </div>
	      </div>
	    </div>
    </section>

    <section class="ftco-section">
			<div class="container">
				<div class="row no-gutters ftco-services">
          <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">   
          </div>
          <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
            		<span class="flaticon-diet"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">QUALITY ASSURED</h3>
                {% comment %} <span>Product well package</span> {% endcomment %}
              </div>
            </div>    
          </div>
          <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
            		<span class="flaticon-award"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">ORIGINAL</h3>
                {% comment %} <span>Quality Products</span> {% endcomment %}
              </div>
            </div>      
          </div>
          <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
            		<span class="flaticon-customer-service"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">24/7 Support</h3>
                {% comment %} <span>24/7 Support</span> {% endcomment %}
              </div>
            </div>      
          </div>
        </div>
			</div>
		</section>
		<section class="ftco-section ftco-category ftco-no-pt">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="row">
							<div class="col-md-6 order-md-last align-items-stretch d-flex">
								<div class="category-wrap-2 ftco-animate img align-self-stretch d-flex" style="background-image: url({% static 'static2/images/category.jpg' %});">
									<div class="text text-center">
										<h2>Baby Prodcuts</h2>
										{% comment %} <p>Protect the health of every home</p> {% endcomment %}
										<p><a href="{% url 'shop' %}" class="btn btn-primary">Shop now</a></p>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url({% static 'static2/images/category-2.jpg' %});">
									<div class="text px-3 py-1">
										<h2 class="mb-0"><a href="#">EDUCATION</a></h2>
									</div>
								</div>
								<div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url({% static 'static2/images/category-1.jpg' %});">
									<div class="text px-3 py-1">
										<h2 class="mb-0"><a href="{% url 'category_vegetables' %}">Beauty</a></h2>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url({% static 'static2/images/category-5.jpg' %});">
							<div class="text px-3 py-1">
								<h2 class="mb-0"><a href="{% url 'category_electronics' %}">Electronic Gadgets</a></h2>
							</div>		
						</div>
						<div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url({% static 'static2/images/category-4.jpg' %});">
							<div class="text px-3 py-1">
								<h2 class="mb-0"><a href="#">Fashion</a></h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

    <section class="ftco-section">
    	<div class="container">
				<div class="row justify-content-center mb-3 pb-3">
          <div class="col-md-12 heading-section text-center ftco-animate">
          	<span class="subheading">Featured Products</span>
            <h2 class="mb-4">Our Products</h2>
            <p>"One Stop Shopping Destination"</p>
          </div>
        </div>   		
    	</div>
    
    <div class="container">
      <div class="row">
          {% for product in products %}
          <div class="col-md-6 col-lg-3 ftco-animate">
              <div class="product">
                {% comment %} <a href="{% url 'product_single' product.id %}" class="img-prod">
                  <div class="img-container">
                      <img class="img-fluid" src="{{ product.product_image.url }}" alt="Product Image">
                  </div>
                  {% if product.product_stock > 0 %}
                  <span class="status in-stock">In Stock</span>
                  {% else %}
                  <span class="status out-of-stock">Out of Stock</span>
                  {% endif %}
                  <div class="overlay"></div>
              </a> {% endcomment %}
                  <div class="text py-3 pb-4 px-3 text-center">
                      <h3><a href="#">{{ product.product_name }}</a></h3>
                      {% comment %} <p>{{ product.product_description }}</p>
                      <p>Category: {{ product.category.category_name }}</p> {% endcomment %}
                      <div class="d-flex">
                          <div class="pricing">
                              <p class="price"><span>RS {{ product.product_price }}</span></p>
                          </div>
                      </div>
                      <div class="bottom-area d-flex px-3">
                          <div class="m-auto d-flex">
                              <a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                  <span><i class="ion-ios-menu"></i></span>
                              </a>
                              <a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                  <span><i class="ion-ios-cart"></i></span>
                              </a>
                              <a href="#" class="heart d-flex justify-content-center align-items-center">
                                  <span><i class="ion-ios-heart"></i></span>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>
      
    </section>

    <section class="ftco-section testimony-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
          	<span class="subheading">Testimony</span>
            <h2 class="mb-4">Our satisfied customer says</h2>
            <p>"Where you Find all That you need"</p>
          </div>
        </div>
        <div class="row ftco-animate">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel">
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-5" style="background-image: url(images/person_1.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text text-center">
                    <p class="mb-5 pl-4 line">"From budget phones to state-of-the-art smartphones, we have a mobile for everybody out there.."</p>
                    <p class="name">Martin Michael</p>
                    <span class="position">Certified Customer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-5" style="background-image: url(images/person_2.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text text-center">
                    <p class="mb-5 pl-4 line">"Your one-stop fashion destination for anything and everything you need to look good. Our exhaustive range of Western and Indian wear, summer and winter clothing,"</p>
                    <p class="name">Tiju Alex</p>
                    <span class="position">Certified Customer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-5" style="background-image: url(images/person_3.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text text-center">
                    <p class="mb-5 pl-4 line">"our kids deserve only the best. From bodysuits, booties, diapers to strollers, if you're an expecting mother on a new mother, you will find everything you need to set sail on a smooth parenting journey with the help of our baby"</p>
                    <p class="name">Liya K Joseph</p>
                    <span class="position">Certified Customer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-5" style="background-image: url(images/person_1.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text text-center">
                    <p class="mb-5 pl-4 line">"Work hard and no play? We don't believe in that. Get access to best-selling fiction and non-fiction books by your favourite authors, thrilling English and Indian blockbusters, most-wanted gaming consoles,"</p>
                    <p class="name">Maria Jacob</p>
                    <span class="position">Certified Customer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-5" style="background-image: url(images/person_1.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text text-center">
                    <p class="mb-5 pl-4 line">"Launching into the grocery vertical, Flipkart introduces Supermart that is out to bring everyday essentials close to you,"</p>
                    <p class="name">Jeswin C Saji</p>
                    <span class="position">Certified Customer</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {%endblock%}