{% load static %}
{% load socialaccount %}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'static2/css/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body onload="noBack();">
 
    
    <div class="signin">
        <div id="signintext">
            {% comment %} <p id="signintext1">Green, Clean, Serene.</p> {% endcomment %}
            <h2 id="signintext3">SIGN IN</h2>
        </div>
        <form class="signin-form" method="post">
            {% csrf_token %}
            {% comment %} <input type="text" class="signinelement" placeholder="User Name" required name="username"> {% endcomment %}
            <input type="text" class="signinelement" name="{{ form.username.name }}" name="username" id="{{ form.username.id_for_label }}" placeholder="User Name" required>
            {% comment %} <input type="password" class="signinelement" placeholder="password" required name="password"> {% endcomment %}
            <input type="password" class="signinelement" name="{{ form.password.name }}" name="password" id="{{ form.password.id_for_label }}" placeholder="Password" required><br><br>
            <span class="mb-0 text-muted" style="margin-left: 60px; color:red;">
                {% if msg %}
                    {{ msg | safe }}
                {% endif %}
              </span>     
            <p id="signinelement2"><a href="password_reset" style="color: #27350F; text-decoration: none">Forgot password?</a></p>
            <div class="icon-container">
                <a href="{% provider_login_url 'google'%}?next=/"><span id="icon" class="fab fa-google" style="color: red"></span></a>
                {% comment %} <a href="#"><span id="icon" class="fab fa-facebook" style="color: blue"></span></a> <!-- Facebook icon placeholder -->
                <a href="#"><span id="icon" class="fab fa-twitter" style="color: #1DA1F2"></span></a> <!-- Twitter icon placeholder --> {% endcomment %}
            </div>
            <button class="signinbtn" id="login_button" type="submit">Login</button>
        </form>
        <p id="signinelement3">Don't have an account? <a href="register.html" style="color: #27350F; text-decoration: none">Signup</a></p>
        <div class="signinimg">
            <img id="img1" src="{% static 'static2/images/background.jpeg' %}">
        </div>
    </div>
    <script>
        window.history.forward();
        function noBack() {
            window.history.forward();
        }
    </script>
</body>
</html>